<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting flask server to database</title>
</head>
<body>

    <h1>Hey this is monisha from kissflow</h1>
    
    {{data}}
   
    <table border="2">
        <tr>
            
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>AUTHOR</th>
        </tr>

        {% for i in data %}
        <tr>

            <td>{{i.title}}</td>
            <td>{{i.content}}</td>
            <td>{{i.author}}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>