<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    {{data}}
    <form method = "post" action = "{{url_for('update', id = data.id)}}">
        <input type = "number" name = "id" placeholder=" Enter the id:"><br>
        <input type = "text" name = "name" placeholder=" Enter the name:"><br>
        <input type = "text" name = "dept" placeholder=" Enter the department:"><br>
        <input type = "text" name = "branch" placeholder=" Enter the branch:"><br>
        <input type = "number" name = "phone" placeholder=" Enter the phone_number:"><br>
        <input type = "submit" value=" submit">
    </form>
</body>
</html>