<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    {{data}}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>FUNDHOUSE</th>
            <th>NAV</th>
        </tr>
        {%for i in data%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.fund_house}}</td>
            <td>{{i.nav}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>